* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100vh;
}

body {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: row-reverse;
}

main {
  width: 340px;
  margin: 0 auto;
}

.me {
  text-align: center;
}

.aside-img-container img {
  display: none;
  height: 100vh;
}

h1 {
  color: #000000;
  text-align: center;
  font-size: 32px;
  margin-top: 60px;
}

h2 {
  color: #4f4f4f;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-top: 40px;
}

.mine {
  margin-top: 40px;
  text-align: center;
}

p {
  color: #4f4f4f;
  margin: 20px 0 15px 0;
  max-width: 340px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

a {
  text-decoration: none;
  color: #007ea7;
}

.Login-in-options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 58px;
}

.Login-in-options-google {
  border: 1px solid #282828;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 20px;
}

.Login-in-options-fb {
  border: 1px solid #846767;
  color: #fef4f4;
  background-color: #007ea7;
  border-radius: 12px;
  padding: 10px;

}

.Login-in-options-google,
.Login-in-options-fb {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 200px; */

}

.or {
  position: relative;
  max-width: 500px;
  margin: 30px auto;
  text-align: center;
}

.or::before {
  content: "";
  height: 2px;
  width: 130px;
  background-color: black;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

.or::after {
  content: "";
  height: 2px;
  width: 130px;
  background-color: black;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}

input {
  padding: 10px 50px 10px 5px;
  border: 1.5px solid rgba(46, 46, 46, 0.6);
  border-radius: 8px;
  outline: none;
  margin: 10px 0;
  /* width: 100%; */

}

label {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #292232;
}

/* .google {
  width: 16px;
  height: auto;
}

.fb {
  width: 16px;
  height: auto;
} */

.email {
  background-image: url("../assets/email-icon.png");
  background-position-x: 90%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

.password {
  background-image: url("../assets/eye-icon.png");
  background-position-x: 90%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

.email,
.password {
  width: 100%;
}

.tos--blue {
  color: #007ea7;

}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 40px 0 10px 0;
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
}

.checkmark {
  padding: 10px;
}

button {
  border: none;
  border-radius: 12px;
  padding: 10px 40px;
  font-weight: bold;
  color: #ffffff;
  background: #007ea7;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

@media (min-width: 1024px) {
  main {
    width: 434px;
  }

  .aside-img-container {
    max-width: 50%;
  }

  .aside-img-container img {
    display: block;
  }

  .Login-in-options-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .Login-in-options-google {
    margin-bottom: 0;
    margin-right: 10px;
  }
}