{%extends 'base.html' %}
{% load static %}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/privacy.css' %}">

     <!--Google font links-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>



    <h2>Privacy Policy</h2>

    <div class="writing">
        <p>At Debpay, accessible from www.Debpay.com,one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Debtpay and how we use it.</p> <br>

        <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us</p> <br> <br>

        <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they share and /or collect in Debpay. This policy is not applicable to any information collected  offline or via channels other than this website.</p> <br> <br>

        <p>By using our website you hereby consent to our Privacy Policy and agree to it's terms.</p>  <br> <br>

        <p>Information we collect</p>  <br> <br>

        <p>The personal information that you are asked  to provide and  the reasons you are asked  to provide it,will be made clear to you at the point we ask you to provide your personal informtion.</p>  <br> <br>


        <p>If you contact us directly, we may recieve additional information about you such as your name ,email address, phone number,the contents of the message and/or attachments you may send us, and any other information you you may choose provide.</p>  <br> <br>

        <p>When you register for an account , we may ask for your contact information ,including items such as name, company name ,address, email address, and telephone number.</p>  <br> <br>

        <p>How we use information your information</p>  <br> <br>

        <p> We use the information we collect in various ways ,including  to;</p>  <br> <br>
        <ul>
            <li>Provide,operate and maintain our website</li>
                <li> Improve,personalise, and expand our website</li>
                <li>Understand and analyze how you use our website</li>
                <li>Develop new products,services, features, and functionality</li>
                <li>Communicate with you, either directly or through one of our partners,including for customer service,to provide you with updates and other information relating  to the website ,and for marketing and promotional purpose</li>
                <li>Send you emails</li>
                <li>Find and prevent fraud</li>

        </ul>

        <p>Debpay follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and are a part of hosting services'analytics. The information collected by the log files include internet protocol(IP) addresses,browsers type, Internet Service Provider(ISP), date and time stamp,referring/exit pages, and possibly the number of clicks . These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends , administering the site,tracking users' movement on the website ,and gathering demographic informatiom . </p>

        <p>Cookies and Web Beacons </p>

        <p>Like any other website Debpay uses 'cookies'. These cookies are used to share information including visitors' preferences , the pages on the website that the visitor accessed or visited . The information is used to optimize the users' experience by customizing our web page content based on visitors' browsers type and/or other informatiom.
        </p>

            <br>

            <br>

        <P>Advertizing Partners Privacy Pollicies</P>

        <br>
            
        <p>You may consult this list to find the privacy policy for each of the advertising partners of Debpay. </p>

            <br>
            <p>Third party ad services or ad networks use technologies like cookies,javascript, or Web Beacons that are used in their respective advertisments and links that appear on Debpay, which are sent directly to users' browsers. They automatically recieve  your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalise the advertising content that you see on website that you visit .</p>

            <p>Note that Debpay has no access to or control over these cookies that are used by third-party advertisers.</p>

            <p>Third Party Privacy Policies</p>

            <p>Debpay's Privacy Policy does not apply to other advertisers or websites. Thus we advise you to consult the respective Privacy Policies of these  third-party ad servers for more detailed informatiom. it may include their practices and instructions about how to opt-out of certain options </p>

            

            <p>You can choose to disable cookies through your individual browsers options. To find more detailed information about cookie management with specific web browsers, it  can be found at browsers' respective websites.</p>

            <form >

                <input type="button" value="Get Started" id="Get">

                <input type="button" value="Contact Us" id="us">

            </form> 

    </div>

    <footer>
        <div class="footer_flexbox">
          <div class="footer_flexbox-box1">
            <img src="{% static 'img/Logo with Textt( White Color).svg' %}" alt="debpay logo">
          </div>
          <div class="footer_flexbox-box2">
            <p>RESOURCES</p>
            <a href="#">Technical Support</a>
            <a href="#">Purchasing & licensing</a>
            <a href="#">Debpay Community</a>
            <a href="#">FAQs</a>
          </div>
          <div class="footer_flexbox-box3">
            <p>COMPANY</p>
            <a href="#">Legals</a>
            <a href="#">My Account</a>
            <a href="#">Help and support</a>
          </div>
          <div class="footer_flexbox-box4">
            <p>ABOUT DEBPAY</p>
            <a href="#">Location</a>
            <a href="#">Events</a>
            <a href="#">Blogs</a>
            <a href="#">Contact Us</a>
          </div>
        </div>
        <hr>
        <div id="page_bottom">
          <a href="#">Privacy policy</a>
          <a href="#">Terms and conditions</a>
          <a href="#">Impressum</a>
          <a href="#">Copyright&copy;debpay2022</a>
      
          <span class="bottom-social">
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-whatsapp"></a>
          </span>
        </div>
      </footer>
      
        




</body>
</html>
{%endblock%}