{% extends 'base.html'%}
{% load static %}

{% block link%}
    <link rel="stylesheet" href="{% static 'static/css/help-centre.css' %}" />
{% endblock link%}

{% block content%}

<main>
    <div class="help-centre-container">
    <h1>HELP CENTER</h1>
    <input type="text" placeholder="What do you need help with?" />
    </div>

    <div class="hi-user-container">
    <h2>Hi, User</h2>
    <p>Recommended for you</p>
    </div>


    <div class="faq-accordions">
    <div>
        <img src="../assets/Icon (Stroke).svg" alt="" />
        <p>Why should I use Debpay?</p>
    </div>
    <div>
        <img src="../assets/Icon (Stroke).svg" alt="" />
        <p>Why will it cost me to use Debpay?</p>
    </div>
    </div>

    <div class="help-info">
    <div>
        <h1>Manage my accounts</h1>
        <p>
        I received an email stating that there was sign-in to my account
        </p>
        <p>How to reset your password</p>
    </div>

    <div>
        <h1>Can't Login?</h1>
        <p>How to reset your password</p>
        <p>
        (Name of the app) says "This app is not compatible with your
        device?"
        </p>
    </div>

    <div>
        <h1>How to use</h1>
        <p>How to create and edit profiles.</p>
        <p>How to comment on posts.</p>
    </div>

    <div class="quick-links">
        <h1>Quick Links</h1>
        <p>Update Email <span>></span></p>
        <p>Update password</p>
        <p>About Us</p>
        <p>Contact Us</p>
    </div>
    </div>

    <div>
    <!-- The headings' fo n -->
    <h1>Want to speak to us?</h1>
    <div>
        <h2>Call us from any phone.</h2>
        <p>Reach us directly through our customer care lines without any call charges</p>
        <button>CALL US</button>
    </div>

    <div>
        <h2>
        Chat with us live
        </h2>
        <p>You can chat with us live on this website. You will need an internet or mobile phone connection</p>
        <button>START LIVE CHAT</button>
    </div>

    </div>
</main>

{%endblock%}