{% load socialaccount %}
{%for message in messages%}
<h4>{{message}}</h4>
{%endfor%}
    <h1> Welcome 
        {% if user.is_authenticated %}
        {{user.School_name}} ({{user.school_id}}) {{user.email}}
    </h1>{{user.school_profile.locality}}
    <br>
    <img src="{{user.school_profile.profile_pics.url}}" alt="pol" width='100px' height='100px'>
    <a href='logout'> Logout </a> || <a href='{% url "password_change" %}'> Change Password</a>
    || <a href='{% url "School_Profile_Update" %}'> Update profile data </a>
    {%else%}
    , Kindly register
     <a href='register'> Sign up</a>
    || <a href='login'> Sign in</a> 
    || <a href="{% provider_login_url 'google' %}">Login with Google</a>

{%endif%}


{% comment %} {% if user.is_authenticated %}
<p>Welcome you are logged in as {{ user.username }}

{% else %}


{% endif %} {% endcomment %}

