

{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}

{% block  link%}
    <link rel="stylesheet" href="{% static 'static/css/sign-up.css' %}" />
{% endblock link%}

{% block header%}
{% comment %} Empty header {% endcomment %}
{% endblock header%}
{% block  content%}

    <!-- image for desktop screen, invisible for mobile screen -->
    <div class="aside-img-container">
      <img src="{% static 'static/assets/login-and-signup-image.jpg' %}" alt="" />
    </div>
    <main>
      <h1>Welcome!</h1>
      <div class="sign-in-options-container">
        <div class="sign-in-options-google">
          <img src="{% static 'static/assets/google-icon.svg'  %}" alt="">
          <span>
            <a href="{% provider_login_url 'google' %}">Sign up with Google</a>
            </span>
        </div>
        <div class="sign-in-options-fb">
          <img src="{% static 'static/assets/fb-icon.svg' %}" alt="">
          <span>Sign up with Facebook</span>
        </div>
      </div>

      <div class="or">Or</div>

      <p>Create a new account</p>
{%if messages %}
         {%for message in messages%}
          <h4>{{message}}</h4>
        {%endfor%}  
        {%endif%}
        <form method="post">
          {% csrf_token %}
          <div>
            <label>Full Name</label>
            {{ form.username }}
          </div>
          <div>
            <label>Email Address</label>
            {{ form.email }}
          </div>
          <div>
            <label>Password</label>
            {{ form.Password }}
          </div>
          <label
            ><input type="checkbox" name="tos" /> I have read and agreed to the
            <span class="tos--blue">terms and conditions</span>
          </label>
          <p>Already have an account? <a href="{%url 'Auth_School'%}">Login</a></p>
          <div class="button-container">
            <button type="submit">Register</button>
          </div>
      </form>
    </main>
 
{% endblock content%}

{% comment %} {% load socialaccount %}
<a href="{% provider_login_url 'google' %}">Sign up with Google</a>
<style>
    li{color:red; list-style:none;} 
</style>
{%for message in messages%}
<h4>{{message}}</h4>
{%endfor%} 
<form method='post' action=''>
  
    {% csrf_token %}
    {{form.as_p}}
 
    <br>
    <button type='submit'> Sign up </button>
    </form>
    <a href='/'> Go back </a> {% endcomment %}