<style>
img{
    width:100px;
    height:100px;
}

</style>
<h1> All Debtors </h1>
<h3> The number of the debtors in this world is {{total_debtor}}</h3>
<form>
{{debtor_filter.form}}
</form>
<hr>
{%for debtor in debtor %}
    <div>
        {%if debtor.debtor_image%}
        <img src="{{debtor.debtor_image.url}}" alt="debtor">
        {%endif%}
    
    <h1> <a href=" {% url 'each_debtor' debtor.id %} "> Student name: {{debtor.student_name}} </a> </h1>
    <h3> Student id: {{debtor.student_id}} </h3>
    <h3> Student Class:{{debtor.student_class}} </h3>
    {% if request.user == debtor.school %}
    <a href=" {%url 'debtor_upd' debtor.id %} "> Update debtor</a>
    <a href=" {%url 'debtor_delete' debtor.id %} "> Delete debtor</a>
    {% endif %}
    </div> <hr>
    {%endfor%}