
    <img src="{{user.school_profile.profile_pics.url}} "> 
    <h4> {{user}} </h4>
    <h4> {{user.email}} </h4>

    <hr>

<hr>

    <h4> <a href= "{% url 'dashboard' %}">My dashboard </a></h4>
    <h4> <a href= " {%url 'AllSchool' %} "> All School </a> </h4>
{% comment %} <h4> <a href= "Post_all">All Post </a></h4> {% endcomment %}
<h4> <a href= "{% url 'debtor_all' %}">All Debtor </a></h4>
   <h4> <a href= "{% url 'logout' %}"> Logout</a></h4>
   <h4> <a href= "{% url 'CreateMeeting' %}">Create Meeting</a></h4>
   <a href='logout'> Logout </a> <br>
   <a href='{% url "password_change" %}'> Change Password</a> <br>
   <a href='{% url "School_Profile_Update" %}'> Update profile data </a> <br>
   <a href='{% url "land" %}'> View other pages </a> <br>
   <a href='{% url "Total_meeting" %}'> Find meetings  </a> <br>
   <a href='{% url "Contendant" %}'>View contends  </a> <br>
   <a href='{% url "Create_Chat" %}'>Chat with other schools  </a> <br>
    <a href='{% url "Chat_All" %}'>View all your chats </a> <br>
 <h1> Total post {{mine}} </h1>
   <h4> <a href=" {% url 'debt' %} "> Current Debtor {{debtor_list}} </a> </h4>
 