html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

#headerContainer {
  display: flex;
  margin: 0;
  width: 100%;
  height: 240px;
  background-color: #007EA7;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 22.4px;
}

.headerBox1 {
  flex: 40%;
  width: 100%;
  padding: 20px;
  margin-top: 60px;
  margin-left: 40px;
}

.headerBox2 {
  flex: 60%;
  width: 100%;
  margin-top: 174px;
  text-align: right;
}

.headerBox2 li {
  padding: 16px;
  font-size: 20px;
}

ul li {
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
  color: #fff;
}

.back-to-home {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 64px 0px 56px 64px;
}

.back-to-home a {
  text-decoration: none;
  color: #2F80ED;
  width: 134px;
  height: 24px;
  line-height: 24px;
}

.content {
  flex: none;
  order: 1;
  flex-grow: 0;
}

.content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 822px;
  height: 48px;
  margin: 0px 552px 0px 66px;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 53px;
  margin: 56px 899px 8px 66px;
  color: #007EA7;
  width: 475px;
  height: 53px;
}

.contact-details {
  width: 365px;
  height: 591px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #007EA7;
  color: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: 111px 850px 31px 225px;
  position: absolute;
  z-index: 1;
}

.contact-details h4 {
  width: 194px;
  height: 36px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  margin: 32px 139px 25px 32px;
}

.locator {
  margin: 0px 19px 24px 35px;
  display: inline-block;
  position: static;
  left: 12.5%;
  right: 12.5%;
  top: 8.33%;
  bottom: 6.31%;
}

.locator p {
  display: inline-block;
  width: 237px;
  height: 47px;
  margin: 0;
  padding-left: 5px;
  font-weight: 400;
  font-size: 19.5389px;
  line-height: 23px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.mail {
  margin: 0 18px 24px 34px;
  display: inline-block;
  position: static;
  left: 8.33%;
  right: 8.33%;
  top: 16.67%;
  bottom: 16.67%;
}

.mail p {
  display: inline-block;
  width: 227px;
  height: 24px;
  margin: 0;
  padding-left: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.phone {
  margin: 0 18px 24px 34px;
  display: inline-block;
  position: static;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
}

.phone p {
  display: inline-block;
  width: 170px;
  height: 24px;
  margin: 0;
  padding-left: 5px;
  clear: left;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
}

.social {
  margin-top: 218px;
  color: #2F80ED;
  display: flex;
  justify-content: left;
}

.social fa {
  font-size: 30px;
  width: 24px;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  color: #007EA7;
  background-color: #FFFFFF;
}

.fa-facebook {
  padding-top: 5px;
  width: 24px;
  text-align: center;
  border-radius: 50%;
  height: 24px;
  margin-right: 15px;
}

.fa-twitter {
  padding-top: 5px;
  width: 24px;
  text-align: center;
  border-radius: 50%;
  height: 24px;
  margin-right: 15px;
}

.fa-whatsapp {
  padding-top: 5px;
  width: 24px;
  text-align: center;
  border-radius: 50%;
  height: 24px;
}

.fa-instagram {
  padding-top: 5px;
  width: 24px;
  text-align: center;
  border-radius: 50%;
  height: 24px;
  margin-right: 15px;
}

.container {
  position: absolute;
  font-family: 'Josefin Sans';
  font-style: normal;
  width: 858px;
  height: 653px;
  left: 353px;
  top: 573px;
  padding-left: 301px;
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 0;
}

.container label {
  display: block;
  width: 104px;
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 31px;
  color: #000000;
}

.container input[type=text],
textarea {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #292D32;
  opacity: 0.4;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 85%;
  padding: 10px;
  border: 1.5px solid black;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 6px;
  resize: vertical;
}

.container input[type=submit] {
  border: none;
  margin-left: 315px;
  margin-top: 50px;
  align-items: center;
  padding: 16px 24px;
  gap: 16px;
  width: 157px;
  height: 55px;
  background: #007EA7;
  border-radius: 12px;
  flex: none;
  order: 1;
  flex-grow: 0;
  cursor: pointer;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.container input[type=submit]:hover {
  opacity: 0.7;
  background-color: #007EA7;
}

.group-call {
  display: flex;
  width: 100%;
  margin-bottom: 60px;
}

.chat-us {
  display: block;
  flex: 50%;
  margin-top: 813px;
}

.chat-us h4 {
  margin: 0;
  margin-left: 65px;
  width: 465px;
  height: 36px;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  color: #00171F;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.chat-us p {
  margin: 16px 0 32px 64px;
  width: 476px;
  height: 48px;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.btn_chat {
  margin: 0px 0 32px 69px;
  width: 172px;
  height: 53px;
  padding: 16px 2px;
  gap: 16px;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #007EA7;
  border-color: #007EA7;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 12px;
  margin-left: 60px;
}

.call-us {
  display: block;
  margin-top: 813px;
  flex: 50%
}

.call-us h4 {
  margin: 0;
  margin-left: 65px;
  width: 465px;
  height: 36px;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  color: #00171F;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.call-us p {
  margin: 16px 0 32px 64px;
  width: 476px;
  height: 48px;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.btn_call {
  margin: 0px 0 32px 69px;
  width: 120px;
  height: 53px;
  padding: 16px 2px;
  gap: 16px;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #007EA7;
  border-color: #007EA7;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 12px;
  margin-left: 60px;
}


footer {
  color: #FFFFFF;
  background-color: #00171F;
}

.footer_flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.footer_flexbox h4 {
  font-size: 32px;
  line-height: 35px;
}

.footer_flexbox p {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
}

.footer_flexbox a {
  display: block;
  padding: 10px;
  margin-left: -10px;
  font-size: 16px;
  line-height: 22px;
}

.footer_flexbox-box1 {
  flex: 40%;
  text-align: center;
}

.footer_flexbox-box2 {
  flex: 20%;
  text-align: left;
}

.footer_flexbox-box3 {
  flex: 20%;
  margin-top: -35px;
  text-align: left;
}

.footer_flexbox-box4 {
  flex: 20%;
  text-align: left;
}

#page_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

#page_bottom a {
  padding: 20px 20px;
}

.bottom-social {
  display: block;
  justify-content:space-evenly;
}

.bottom-social a {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.bottom-social {
  font-size: 20px;
  text-decoration: none;
}

.bottom-social .fa:hover {
  color: #007EA7;
  background-color:#E0E0E0;
}

.bottom-social .fa-facebook {
  width: 21.46px;
  height: 17.44px;
  text-align: center;
  border-radius: 50%;
}

.bottom-social .fa-twitter {
  width: 21.46px;
  text-align: center;
  border-radius: 50%;
  height: 17.44px;
}

.bottom-social .fa-whatsapp {
  width: 21.46px;
  text-align: center;
  border-radius: 50%;
  height: 17.44px;
}

.bottom-social .fa-instagram {
  width: 21.46px;
  text-align: center;
  border-radius: 50%;
  height: 17.44px;
}

  
/* Medium devices (mobile phones, 375px and up) */
@media (max-width: 375px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media  (max-width: 1200px) {
  .contact-details {
    width: 365px;
    height: 591px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #007EA7;
    color: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 111px 850px 31px 225px;
    position: absolute;
    z-index: 1;
    right: -7em;
}

.container {
  position: absolute;
  font-family: 'Josefin Sans';
  font-style: normal;
  width: 858px;
  height: 653px;
  left: 228px;
  top: 573px;
  padding-left: 301px;
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 0;
}
}


/* Large devices (landscape tablets, 834px and up) */
@media  (max-width: 834px) {
  .content p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 728px;
    height: 48px;
    margin: 0px 552px 0px 66px;
}


.container {
  position: absolute;
  font-family: 'Josefin Sans';
  font-style: normal;
  width: 572px;
  height: 653px;
  left: 176px;
  top: 573px;
  padding-left: 301px;
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 0;
}


.contact-details {
  width: 344px;
  height: 591px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #007EA7;
  color: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: 111px 850px 31px 225px;
  position: absolute;
  z-index: 1;
  right: -26em;
}

.call-us {
  display: block;
  margin-top: 813px;
  flex: 50%;
}

.chat-us {
  width: 31%;
  display: block;
  flex: 50%;
  margin-top: 813px;
}

.container input[type=submit] {
  border: none;
  margin-left: 74px;
  margin-top: 50px;
  align-items: center;
  padding: 16px 24px;
  gap: 16px;
  width: 157px;
  height: 55px;
  background: #007EA7;
  border-radius: 12px;
  flex: none;
  order: 1;
  flex-grow: 0;
  cursor: pointer;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.chat-us h4 {
  margin: 0;
  margin-left: 65px;
  width: 465px;
  height: 32px;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  color: #00171F;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.chat-us p {
  margin: 16px 0 32px 62px;
  width: 354px;
  height: 48px;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.btn_chat {
  margin: 26px 0 32px 69px;
  width: 172px;
  height: 53px;
  padding: 16px 2px;
  gap: 16px;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #007EA7;
  border-color: #007EA7;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 12px;
  margin-left: 60px;
}

.call-us h4 {
  margin: 0;
  margin-left: 65px;
  width: 398px;
  height: 36px;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 35px;
  color: #00171F;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.call-us p {
  margin: 16px 0 32px 64px;
  width: 241px;
  height: 48px;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.btn_call {
  margin: 22px 0 32px 69px;
  width: 120px;
  height: 53px;
  padding: 16px 2px;
  gap: 16px;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #007EA7;
  border-color: #007EA7;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 12px;
  margin-left: 60px;
}
}

