* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100vh;
}

body {
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-direction: row-reverse;
}

main {
    width: 340px;
    margin: 0 auto;
}

.me {
    text-align: center;
}

.aside-img-container img {
    display: none;
    height: 100vh;
}

h1 {
    color: #000000;
    text-align: center;
    font-size: 32px;
    margin-top: 190px;
}

h2 {
    color: #4f4f4f;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-top: 40px;
}

.mine {
    margin-top: 40px;
    text-align: center;
}

p {
    color: #4f4f4f;
    margin: 20px 0 20px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Josefin Sans';

}

.next p {
    font-size: 16px;
    line-height: 20px;
}

a {
    text-decoration: none;
    color: #007ea7;
}

.pls p {
    color: #EB5757;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 140% */

    letter-spacing: 0.03em;
}

.pure p {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 140% */

    letter-spacing: 0.03em;
}

input {
    padding: 10px 50px 10px 5px;
    border-radius: 8px;
    outline: none;
    margin: 10px 0;
    border: 1.5px solid #EB5757;

    /* width: 100%; */

}

label {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #292232;
    font-family: 'Josefin Sans';
    font-style: normal;
}


.email {
    background-image: url("../assets/email-icon.png");
    background-position-x: 90%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}



.email {
    width: 100%;
}

.tos--blue {
    color: #007ea7;

}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin: 40px 0 10px 0;
}



button {
    border: none;

    padding: 10px 40px;
    font-weight: bold;
    color: #ffffff;
    background: #007ea7;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    border-radius: 4px;

}

@media (min-width: 1024px) {
    main {
        width: 434px;
    }

    .aside-img-container {
        max-width: 50%;
    }

    .aside-img-container img {
        display: block;
    }


}