* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100vh;
}

body {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: row-reverse;
}

main {
  width: 340px;
  margin: 0 auto;
}

.me {
  text-align: center;
}
.debpay-logo {
  margin-bottom: -49px;
}
.back-arrow {
  display: block;
}
.aside-img-container img {
  display: none;
  height: 100vh;
}

h1 {
  color: #000000;
  text-align: center;
  font-size: 32px;
  margin-top: 7px;
}

h2 {
  color: #4f4f4f;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-top: 40px;
}

.mine p {
  font-family: "Josefin Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 452px;
}

.mine {
  margin-top: 31px;
}

p {
  color: #4f4f4f;
  margin: 20px 0 15px 0;
  max-width: 340px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

a {
  text-decoration: none;
  color: #007ea7;
}

input {
  padding: 10px 50px 10px 5px;
  border: 1.5px solid rgba(46, 46, 46, 0.6);
  border-radius: 8px;
  outline: none;
  margin: 10px 0;
  /* width: 100%; */
}

.span input {
  border: 1.5px solid #eb5757;
  border-radius: 8px;
}

.pipe p {
  color: #eb5757;
  font-family: "Josefin Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 452px;
}

label {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #292232;
}

.email {
  background-image: url("../assets/email-icon.png");
  background-position-x: 90%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

.password {
  background-image: url("../assets/Icon\ \(Stroke\).png");
  background-position-x: 90%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

.email,
.password {
  width: 100%;
}

.tos--blue {
  color: #007ea7;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 40px 0 10px 0;
  margin-top: 32px;
}

.button-container button {
  background: #007ea7;
  border-radius: 4px;
}

button {
  border: none;
  border-radius: 12px;
  padding: 10px 40px;
  font-weight: bold;
  color: #ffffff;
  background: #007ea7;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
}

@media (min-width: 1024px) {
  main {
    width: 434px;
  }

  .aside-img-container {
    max-width: 50%;
  }

  .aside-img-container img {
    display: block;
  }
}
