html, body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: #4f4f4f;
}

main{
    display: flex;
}

#section1{
    flex: 10%;
}

#section2{
    flex: 90%;
}

#menu {
    background: #FFFFFF;
    width: 333px;
    height: 1493px;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.08);
}

#menu .logo {
    display: flex;
    align-items: center;
    padding: 38px 85px 47.19px 66px;
}

hr.solid {
    position: absolute;
    width: 333px;
    height: 0px;
    left: 0px;
    top: 124px;
    border: 1px solid #BDBDBD;
}

#menu .angles-left {
    position: absolute;
    left: 317.67px;
    right: 4.33px;
    top: 110.33px;
    color: #007EA7;
    border-radius: 50%;
    padding: 7px;
    /* justify-items: center; */
    width: 32px;
    height: 32px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.09);
}

#menu .pictureholder {
    display: flex;
    align-items: top;
}

#menu .pictureholder img {
    width: 60px;
    height: 60px;
    margin: 32px 16px 50px 54px;
}

#menu .pictureholder h6 {
    position: relative;
    height: 22px;
    font-size: 20px;
    display: flex;
    /* width: 100%; */
    /* float: left; */
    justify-content: center;
    color: #4F4F4F;
    margin: 45px 0px 4px 0px;
}

#menu .pictureholder p {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    display: block;
    width: 176px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #4F4F4F;
    padding: 64px 27px 40px 130px;
}

#menu .items li {
    list-style: none;
    padding: 20px 0;
}

#menu .items li i:hover {
    color: #007EA7;
    cursor: pointer;
}

#menu .items li a:hover {
    color: #007EA7;
    cursor: pointer;
}

#menu .items li i {
    color: #BDBDBD;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 20px;
    margin: 0 15px 0 66px;
}

#menu .items li a {
    text-decoration: none;
    color: #4F4F4F;
    font-weight: 400px;
    width: 146px;
    height: 24px;
    line-height: 24px;
    font-size: 20px;
}

#menu .items .logout {
    margin-top: 600px;
}

#search{
    display: flex;
    padding-top: 65px;
    padding-bottom: 10px;
    padding-left: 50px;
}

#search input{
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
}

#searchIcon{
    margin-left: -35px;
    margin-bottom: -13px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

#searchIcon:hover{
    background-color: #acd3e0;
}

#bell{
    margin-left: 20px;
    margin-top: 8px;
}

.back-button{
    padding-left: 35px;
    padding-top: 10px;
    
}

.back-button a{
    text-decoration: none;
    color: #007EA7;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.top_text{
    text-align: center;
}

.top_text h6{
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    margin-top: -25px;
}

.top_text p{
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    margin-top: -40px;
}

#body{
    padding: 30px;
}

#sub_section p{
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.switch{
    position: relative;
    display: inline;
    width: 43px;
    height: 24px;
    float: right;
    margin-top: -35px;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.switch input{display: block;}

.slider::before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    margin-bottom: -3px;
    margin-left: -2px;
    left: 5px;
    bottom: 5px;
    background-color: #FFFFFF;
    transition: 0.4s;
    border-radius: 50px;
}

input:checked + .slider{
    background: #27AE60;
}

input:checked + .slider::before{
    transform: translateX(90%);
}

@media(max-width:800px){
    #search{
        padding-left: 10px;
    }
    #search input{
        padding: 8px;
        width: 80%;
    }
    #searchIcon{
        margin-left: -35px;
        margin-bottom: -2px;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
    }
    .back-button{
        padding-left: 10px;
        padding-top: 10px;
    }
    .back-button a{
        text-decoration: none;
        color: #007EA7;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
    }
    .top_text h6{
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        margin-top: -25px;
    }
    
    .top_text p{
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        margin-top: -40px;
    }
    #body{
        padding: 10px;
    }
    
    #sub_section p{
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
    .switch{
        position: relative;
        display: inline;
        width: 30px;
        height: 18px;
        float: right;
        margin-top: -35px;
    }
    .slider::before{
        position: absolute;
        content: "";
        height: 14px;
        width: 13px;
        margin-bottom: -3px;
        margin-left: -2px;
        left: 5px;
        bottom: 5px;
        background-color: #FFFFFF;
        transition: 0.4s;
        border-radius: 50px;
    }
}