* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
}
input {
  width: 327px;
  border: 0.545455px solid #bdbdbd;
  border-radius: 5.45455px;
  font-weight: 400;
  font-size: 10.9091px;
  line-height: 13px;
  color: #bdbdbd;
  margin-top: 22px;
  margin-bottom: 17px;
  padding: 6px;
  background-image: url("../assets/search-icon.svg");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 50%;
}
.back-container {
  align-self: flex-start;
}
.back-text {
  color: #007ea7;
  font-size: 700;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 16px;
}
.heading h1 {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.heading p {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.card-container {
  margin-bottom: 10px;
}
.card-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 8px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-texts {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  width: 231px;
  color: #282828;
}
