* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

main {
  width: 327px;
}

.back {
  color: #007ea7;
  font-size: 700;
}
.card-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 8px;
}
