/* 'Inter'
Josefin Sans */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Josefin Sans";
  display: flex;
  flex-direction: row-reverse;
}
main {
  width: 340px;
  margin: 0 auto;
}
.aside-img-container img {
  height: 100vh;
  display: none;
}
h1 {
  color: #bdbdbd;
  margin: 95px 0 15px 0;
  max-width: 340px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
/* form {
  max-width: 340px;
} */
input {
  padding: 10px 50px 10px 5px;
  border: 1.5px solid rgba(46, 46, 46, 0.6);
  border-radius: 8px;
  outline: none;
  margin: 10px 0; /* margin for spaces btw labels and inputs*/
}
label {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #828282;
}
.email {
  background-image: url("../assets/email-icon.png");
  background-position-x: 90%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}
.password {
  background-image: url("../assets/eye-icon.png");
  background-position-x: 90%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}
.button-container {
  display: flex;
  justify-content: center;
  margin: 40px 0 10px 0;
}

button {
  border: none;
  padding: 15px 40px;
  font-weight: bold;
  color: rgb(247, 244, 244);
  background: #bdbdbd;
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
p {
  text-align: center;
}

@media (min-width: 1024px) {
  .aside-img-container img{

    display: block;
  }
}
