{%load static %}
{% comment %} <form method='post'>
    {% csrf_token %}
{{form.as_p}}
<button type='submit'> Sign in </button>

</form> {% endcomment %}



<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
  <link rel="stylesheet" href="{%static 'static/css/login.css'%} " />
</head>

<body>

  <div class="aside-img-container">
    <img src="{% static 'static/assets/login-and-signup-image.jpg' %}" alt="" />
  </div>
  <main>
    <img src="{% static 'static/assets/logo-blue.svg' %}" alt="Debpay logo">
    <h1>Welcome Back!</h1>
    <div class="mine">
      <p>Login to your account</p>
    </div>
    <div class="Login-in-options-container">
      <div class="Login-in-options-google">
        <img src="{% static 'static/assets/google-icon.svg' %}" class="google" alt="" />
        <span class="text">Login with Google</span>
      </div>
      <div class="Login-in-options-fb">
        <img src="{% static 'static/assets/fb-icon.svg' %}" class="fb" alt="fb" />
        <span>Login with Facebook</span>
      </div>
    </div>

    <div class="or">Or</div>

    <p>Create a new account</p>
    <form method='post'>
        {% csrf_token %}
      <div>
        <label>Email address</label>
        {{form.username}}
        {% comment %} <input type="email" name="email" placeholder="email@example.com" class="email" /> {% endcomment %}
      </div>
      <div>
        <label>Password</label>
        {{form.password}}
        {% comment %} <input type="password" name="password" placeholder="*******" class="password" /> {% endcomment %}
      </div>
      <div class="input-container">
        <label class="checkbox-container">
          <div>
            <input type="checkbox" name="checkbox" /> Remember me
          </div>
          <span class="checkmark">Forgot Password?</span>
      </div>

      <p>Don't have an account? <a href=" {%url 'register' %} ">Signup</a></p>
      <div class="button-container">
        <button type="submit">Login</button>
      </div>
    </form>
  </main>
</body>

</html>