<style>
    section{
        display:grid;
        grid-template-columns: 1fr 3fr;
    }
    img{
        width:80px;
        height:80px;
        border-radius:100%;
    }
    .lop {
        width:200px;
        height:200px;
    }
    aside{
        display:flex;
    }

  
</style>

<section>

<div>
{% include 'Debtor/Profile/side.html' %}
</div>
<div>
<form method='post' action=''>
  
    {% csrf_token %}
    {{form.as_p}}
 
    <br>
    <button type='submit'>Change Password </button>
    </form>

</div>