* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


body {
  font-family: 'Josefin Sans', sans-serif;
  color: #333;
  line-height: 1.5;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1em;

}




.header-btn{
    width: 30px;
    height: 30px;
    font-size: 19px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}


.show-modal {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1em 3.5rem;
  margin: 1rem auto 1rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: -4.8rem;
  right: -37rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
  width: 14em;
}



/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */


.modal {
  position: relative;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 39%;
  background-color: white;
  padding: 1rem;
  border-radius: 1em;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: fixed;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}




p {
  margin-bottom: 2em;
  font-size: 1.2rem;
}



.form {
  background-image: url(img/Logo\ Without\ Text\(\ White\ Color\).svg);
  background-repeat: no-repeat;
  background-size: 43%;
  background-position-y: -15em;
  background-position-x: center;
  background-color: rgba(204, 229, 237, 0.5);
}




.contain {
  width: 80%;
  background-color: white;
  margin: 8em auto;
}


.form h4 {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}



.modal p {
  margin-bottom: 2em;
  font-size: 1.4rem;
  text-align: center;
}


a {
  text-decoration: none;
  margin-right: 1em;
  color: white;
}








.header {
  display: flex;
  gap: 38em;
  padding: 0em 1em;
  background-color: #007EA7;
}

.logo #img {
  width: 12em;
  border-radius: 1em;
  padding-top: 1em;
}

li {
  display: inline-block;
}

.dropmenu li{
  display: block;
}

.modal img{
  width: 6em;
  border-radius: 1em;
  padding-top: 0em;
  position: relative;
  left: 12vw;
}

div#links {
  padding: 5.5em 0 0 0;
  width: 29em;
  color: white;
}

h5 {
  font-size: 1.8rem;
  margin-bottom: 1em;
}

.modal h4 {
  font-size: 1.4rem;
  margin-bottom: 0.5em;
  color: #27AE60;
  text-align: center;
}

.form {
  text-align: center;
  padding: 2em 0 3em;
}




input[type="text"] {
  display: block;
  margin: 2em auto;
  width: 43em;
  border-radius: 1em;
  height: 4vh;
  border: 2px solid #CCE5ED;
  padding-left: 2em;
  background-color: #CCE5ED;
  outline: 2px solid #007EA7;
}



button:disabled {
  background-color: black;
  border: none;
  width: 16em;
  padding: 1em;
  border-radius: 1em;
  color: white;
  font-size: 1rem;
  background-color: #007EA7;
  opacity: 0.3;
  margin-bottom: -1em;
}




button:enabled {
  background-color: black;
  border: none;
  width: 16em;
  padding: 1em;
  border-radius: 1em;
  color: white;
  font-size: 1rem;
  background-color: #007EA7;
  margin-bottom: -1em;
}
















